{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>Scrum board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'board/vendor/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/board.css' %}">
    <script type="text/html" id="home-template">
        <h2>Спринты</h2>
        <button class="add" type="submit">Добавить спринт</button>
        <% if (sprints !== null) { %>
            <div class="sprints">
                <% _.each(sprints.models, function (sprint) { %>
                    <a href="#sprint/<%- sprint.get('id') %>" class="sprint">
                        <%- sprint.get('name') %><br>
                        <span>завершается <%- sprint.get('end') %></span>
                    </a>
                <% }); %>
            </div>
        <% } else { %>
            <h3 class="loading">Загрузка ...</h3>
        <% } %>
    </script>
    <script type="text/html" id="login-template">
        <form action="" method="post">
            <label for="id_username">Логин</label>
            <input id="id_username" type="text" name="username" maxlength="30" required>
            <label for="id_password">Пароль</label>
            <input id="id_password" type="password" name="password" required>
            <button type="submit">Войти</button>
        </form>
    </script>
    <script type="text/html" id="header-template">
        <span class="title">Скрам-доска (пример)</span>
        <% if (authenticated) { %>
            <nav>
                <a href="/" class="button">Спринты</a>
                <a href="#" class="logout button">Выйти</a>
            </nav>
        <% } %>
    </script>
    <script type="text/html" id="new-sprint-template">
        <form action="" method="post">
            <label for="id_name">Наименование</label>
            <input id="id_name" type="text" name="name" maxlength="100" required />
            <label for="id_end">Дата окончания</label>
            <input id="id_end" type="date" name="end" />
            <label for="'id_description">Примечание</label>
            <textarea id="'id_description" name="description" cols="50"></textarea>
            <button class="cancel">Отмена</button>
            <button type="submit">Создать</button>
        </form>
    </script>
    <script type="text/html" id="sprint-template">
        <% if (sprint !== null) { %>

            <% if (!sprint.invalid) { %>
                <h2><%- sprint.get('name') %></h2>
                <span class="due-date">Дата завершения: <%- sprint.get('end') %></span>
                <p class="description"><%- sprint.get('description') %></p>
                <div class="tasks"></div>
            <% } else { %>
                <h1>Спринт <%- sprint.get('id') %> не найден </h1>
            <% } %>
        <% } else { %>
            <h1 class="loading">Загрузка ...</h1>
        <% } %>
    </script>
    <script type="text/html" id="status-template">
        <h4><%- title %></h4>
        <div class="list"></div>
        <% if (sprint === null) { %>
            <button class="add" type="submit">Добавить задачу</button>
        <% } %>
    </script>
    <script type="text/html" id="new-task-template">
        <form class="add-task" action="" method="post">
            <label for="id_name">Наименование</label>
            <input id="id_name" type="text" name="name" maxlength="100" required />
            <label for="id_description">Содержание</label>
            <textarea id="id_description" name="description"></textarea>
            <button class="create" type="submit">Создать</button>
            <button class="cancel" type="submit">Отмена</button>
        </form>
    </script>
    <script type="text/html" id="task-item-template">
        <%- task.get('name') %>
    </script>
    <script type="text/html" id="task-detail-template">
        <div data-field="name" class="name" contenteditable="true">
            <%- task.get('name') %>
        </div>
        <div data-field="description" class="description" contenteditable="true">
            <%- task.get('description') %>
        </div>
        <div class="with-label">
            <div class="label">Дата окончания: </div>
            <div data-field="due" class="due-date" contenteditable="true">
                <%- task.get('due') || empty %>
            </div>
        </div>
        <div class="with-label">
            <div class="label">Назначен: </div>
            <div data-field="assigned" class="assigned" contenteditable="true">
                <%- task.get('assigned') || empty %>
            </div>
        </div>
        <form>
            <button class="cancel" type="submit">Закрыть</button>
            <button class="save hide" type="submit">Сохранить</button>
        </form>
    </script>
</head>
<body>
    <div id="content"></div>
    <script src="{% static 'board/vendor/jquery.js' %}"></script>
    <script src="{% static 'board/vendor/underscore.js' %}"></script>
    <script src="{% static 'board/vendor/backbone.js' %}"></script>
    <script id="config" type="text/json">
        {
            "models": {},
            "collections": {},
            "session": null,
            "views": {},
            "router": null,
            "apiRoot": "{% url 'api-root' %}",
            "apiLogin": "{% url 'api-token' %}"
        }
    </script>
    <script src="{% static 'board/js/app.js' %}"></script>
    <script src="{% static 'board/js/socket.js' %}"></script>
    <script src="{% static 'board/js/models.js' %}"></script>
    <script src="{% static 'board/js/views.js' %}"></script>
    <script src="{% static 'board/js/router.js' %}"></script>
</body>
</html>
